<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-6" *ngIf="user else noPhoto">
      <img [src]="user?.photoUrl" alt="profile-pic" class="img rounded-circle mx-auto d-block profile-pic" />
    </div>
  </div>

  <div class="row justify-content-center text-center name">
    <div class="col-xs-12 col-sm-8 col-md-6">
      {{user?.firstName}} {{user?.lastName}}
    </div>
  </div>

  <div class="row justify-content-center text-center quote">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <blockquote class="blockquote">
        <p class="mb-0">
          "{{user?.quote}}"
        </p>
      </blockquote>
    </div>
  </div>

  <div class="row justify-content-center text-center bio">
    <div class="col-xs-12 col-sm-8 col-md-6">
      {{user?.bio}}
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="user?.id === currentUser?.id">
    <div class="col-xs-12 col-sm-8 col-md-6 text-center edit-button">
      <button class="btn btn-primary" [routerLink]="'/profile/' + currentUser?.id + '/edit'">Edit Profile</button>
    </div>
  </div>
</div>

<ng-template #noPhoto>
  <div class="no-photo d-flex justify-content-center align-items-center">
    No Photo
  </div>
</ng-template>

<ng-container *ngIf="false">
  <pre>
    {{currentUser | json}}
  </pre>
  <pre>
    {{user | json}}
  </pre>
</ng-container>